*,
*::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  box-sizing: inherit;
  min-height: 100%;
  padding-bottom: 6.74em;
}

img {
  max-width: 100%;
  width: 70%;
}

:root {
  --green: #54b192;
  --green-l: #a4cec0;
  --gray: #3f3d56;
  --smooth: all 0.3s ease-in;
}

header {
  position: fixed !important;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
  background-color: var(--green);
}
.logo {
  color: var(--gray);
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}

.btn-menu {
  font-size: 24px;
  color: var(--gray);
  padding: 10px;
  cursor: pointer;
}

article {
  margin-top: 6%;
}
/* nav */
nav {
  text-align: center;
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.menu {
  display: inline-flex;
  padding: 0;
}
.menu-item {
  padding: 16px 8px;
}
.menu-item:hover {
  background-color: var(--gray);
}
.menu-item:hover a {
  color: white;
}

/* avatar */
.board-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.personal-info {
  width: 59%;
  padding: 20px;
  background-color: ghostwhite;
  border-radius: 0 50px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.avatar {
  width: 30%;
  background-color: var(--green);
  border-radius: 50px 0 0 50px;
}
.avatar__img {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.social-icons {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-items: center;
}
.social-icon {
  font-size: 24px;
  margin-left: 16px;
  color: var(--gray);
}
.social-icon:hover {
  color: var(--green-l);
  transform: scale(1.2);
}
/* footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: var(--green);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
}
h2 {
  margin-top: 10px;
  margin-bottom: 6px;
}

.menu-item {
  position: relative;
  color: black;
}
.menu-item:hover .sub-menu {
  display: block;
}
.sub-menu {
  background-color: var(--gray);
  position: absolute;
  display: none;
  top: 32px;
  left: 0;
  padding-top: 8px;
  width: 150px;
}

@media only screen and (max-width: 46.1875em) {
  nav {
    display: none;
  }
  .board-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .personal-info {
    width: 100%;
    padding: 10px;
    background-color: ghostwhite;
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .avatar {
    width: 100%;
    background-color: var(--green);
    border-radius: 25px 25px 0 0;
  }
  .avatar__img {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  article {
    margin-top: 20%;
  }
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  article {
    margin-top: 10%;
  }
  .personal-info {
    width: 49%;
    padding: 10px;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .avatar {
    width: 49%;
    background-color: var(--green);
  }
}
